body {
    background-image: linear-gradient(90deg, rgba(0, 0, 108, 1) 0%, rgba(174, 0, 0, 1) 100%);
}

footer {
    text-align: center;
    padding: 3px;
    color: #ffffff;
    left: 28.5%;
    bottom: -650px;
    position:fixed;
}

.bold {
    font-weight: 700;
    text-align: center;
    background-color: crimson;
    padding: 10px;
    position: absolute;
    justify-content: center;
}

.boldn {
    font-weight: 900;
    font-size: large;
}

.norm {
    font-weight: 400;
}

.loren {
    width:55px;
    length:55px;
    position: relative;
    top: 15px ;
    left: -11px;
}

.cent {
    text-align: center;
    align-items: center;
    align-self: center;
}

ol {
    text-align: center;
    color: #ffffff;
    list-style-type: decimal;
}

p {
    color: #ffffff;
    line-height: 1.5
    letter-spacing: 0px
    word-spacing: 0px
    text-align: left
}

.white {
    color: white;
}

h2 {
    color: #ffffff;
    line-height: 1.5
    letter-spacing: 0px
    word-spacing: 0px
    text-align: left
}

.musik {
    background: #131B2A;
    padding: 30px 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 25);
    text-align: center;
    position:absolute;
    left: 75px;
}

.musikk {
    background: #131B2A;
    padding: 30px 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 25);
    text-align: center;
    position:absolute;
    left: 552px;
    justify-content: space-around;
}

.musikkk {
    background: #131B2A;
    padding: 30px 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 25);
    text-align: center;
    position:absolute;
    left: 1026px;
    justify-content: space-around;
}

.face {
    background: #131B2A;
    padding: 30px 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 25);
    text-align: center;
    position:absolute;
    left: 552px;
    top: 775px;
    justify-content: space-around;
}

.cov {
  width:100%;
  aspect-ratio: 1 / 1; /* Menjaga bentuk persegi */
  object-fit:cover;
  border-radius:8px;
  display:block;

}

 .grad {
  background: linear-gradient(
        to right,
        red 20%,
        blue 30%,
        green 70%,
        orange 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    color: aquamarine;
    text-align: center;
}

.glow {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px red, 0 0 20px cyan, 0 0 30px magenta, 0 0 40px  yellow, 0 0 50px black, 0 0 60px purple, 0 0 70px blueviolet;
  }
  to {
    text-shadow: 0 0 20px red, 0 0 30px cyan, 0 0 40px magenta, 0 0 50px yellow, 0 0 60px black, 0 0 70px purple, 0 0 80px blueviolet;
  }
}
